
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.card-name {
    color: rgb(32, 30, 30);
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
}

.card-description {
    color: rgb(36, 34, 34);
    text-align: center;
    font-family: 'Roboto', sans-serif;    
    margin: 1rem;
    font-size: smaller;
}

.card-main {
    margin: 3rem;
    height: 520px;
    width: 400px;
    border: 1px solid rgb(224, 214, 214);
    border-radius: 10px;
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);    */
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    width: 100%;
}

.card-button {
    padding: 0.3rem;
    margin-top: 2rem;
    width: 9rem;
    text-align: center;
    border: 0.5px rgb(196, 187, 187) solid;
    border-radius: 2rem;
    color: rgb(32, 32, 121);
    background-color: white;
}

.btn-container {
text-align: center;}

