
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.main2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
    border: 1px solid black;
    width: 50%;
}

